@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h3>Aplicación Torneos Versión 1.0</h3>
    <p class="Texto1">En Desarrollo Grupo 7 - Ciclo 3</p>
    <p class="Texto1">Misión TIC 2022</p>
</div>
